.success-snackbar {
  background-color: #4CAF50 !important;
  color: white;
}

.error-snackbar {
  background-color: #f44336 !important;
  color: white;
}

.edit-user-card-header {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}
.profile-card {
  max-width: 500px;
  margin: 2rem auto;
  padding: 1rem 2rem 2rem 2rem;
}

.full-width {
  width: 100%;
  margin-bottom: 1rem;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.formError {
  text-align: center;
  margin-bottom: 20px;
}
