<div class="reactions">
  <div class="reaction">
    <button mat-icon-button (click)="ChangeReaction(likeName)">
      <mat-icon
        [class.not-selected-reaction]="currentUserReaction?.reactionName != likeName">
        thumb_up</mat-icon>
    </button>
    <span class="count">{{ getReactionsCount(likeName) }}</span>
  </div>
  <div class="reaction">
    <button mat-icon-button (click)="ChangeReaction(dislikeName)">
      <mat-icon
        [class.not-selected-reaction]="currentUserReaction?.reactionName != dislikeName">
        thumb_down
    </mat-icon>
    </button>
    <span class="count">{{ getReactionsCount(dislikeName) }}</span>
  </div>
</div>
