<div class="container">
  <section class="news-feed">
    @if(newsFeed) {
      @for (card of newsFeed.newsCards; track card.id) {
        <app-news-card class="news-card" [newsCard]="card"></app-news-card>
      }
      <mat-paginator
        [pageSize]="1"
        [pageIndex]="currentPage-1"
        [showFirstLastButtons]="true"
        [length]="newsFeed.totalPages()"
        (page)="pageEventHandler($event)"
        class="hidden-paginator"
        #paginator>
      </mat-paginator>
        <div class="custom-navigation">
          <button mat-mini-fab (click)="paginator.firstPage()"  class="nav-button"
            [disabled]="paginator.pageIndex === 0">
            <mat-icon>first_page</mat-icon>
          </button>

          <button mat-mini-fab (click)="paginator.previousPage()" class="nav-button"
            [disabled]="!paginator.hasPreviousPage()">
            <mat-icon>chevron_left</mat-icon>
          </button>

          <span class="page-info">
            Страница {{ paginator.pageIndex + 1 }} из {{newsFeed.totalPages() }}
          </span>

          <button mat-mini-fab (click)="paginator.nextPage()" class="nav-button"
            [disabled]="!paginator.hasNextPage()">
            <mat-icon>chevron_right</mat-icon>
          </button>

          <button mat-mini-fab (click)="paginator.lastPage()" class="nav-button"
            [disabled]="paginator.pageIndex === newsFeed.totalPages() - 1">
            <mat-icon>last_page</mat-icon>
          </button>
        </div>
    }
  </section>
  <aside class="ad-wrapper">
    @for(card of addCards; track card.title) {
      <app-add-card [addCard]="card"></app-add-card>
    }
  </aside>
</div>
