<div class="container">
  <section class="news-section">
    @if(news) {
      <mat-card class="details-card">
        <mat-card-header class="header-section">
          <div class="header-content">
            <div class="source-header">
              <app-avatar class="source-avatar" [name]="news.sourceName"
                imageUrl="">
              </app-avatar>
              <div class="source-info">
                <h1 class="source-name">{{ news.sourceName }}</h1>
                <div class="publish-date">
                  <mat-icon>schedule</mat-icon>
                  <span>{{visibleNewsDate(news.publicationDate)}}</span>
                </div>
              </div>
            </div>
            <mat-chip class="rating-chip" color="accent">
              <div class="rating-block">
                <mat-icon>star</mat-icon>
                <span>{{ visibleNewsRate(news.positivityRate? news.positivityRate : 0)}}</span>
              </div>
            </mat-chip>
          </div>
        </mat-card-header>
        <img mat-card-image [src]="news.imageUrl" alt="News image" class="main-image">
        <mat-card-content class="content-section">
          <h1 class="news-title">{{ news.headline}}</h1>
          <div class="news-content" [innerHTML]="newsContent"></div>
          <div class="original-link">
            <mat-icon>link</mat-icon>
            <a [href]="news.url" target="_blank" rel="noopener">
              Читать оригинал статьи
            </a>
          </div>
        </mat-card-content>
      </mat-card>
      <app-comments-section class="news-comment" [newsId]="newsId" ></app-comments-section>
      <button mat-fab class="back-button" (click)="goBack()" aria-label="Назад">
        <mat-icon>arrow_back</mat-icon>
      </button>
    }
  </section>

  <aside class="ad-wrapper">
    @for(card of addCards; track card.title) {
      <app-add-card [addCard]="card"></app-add-card>
    }
  </aside>
</div>

