.success-snackbar {
  background-color: #4CAF50 !important;
  color: white;
}

.error-snackbar {
  background-color: #f44336 !important;
  color: white;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
